.container {
  max-width: $container-width; // 1020px
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1000px) {
    max-width: $tablet-container-width; // 600px
    padding: 0;
  }

  @media (max-width: $bp-mobile) {
    max-width: $mobile-container-width; // 280px
    padding: 0;
  }
}