@use '../utils' as *;

.banner {
  height: toRem(460);
  width: 100%;
  
  background-image: url('../images/banner.png'); 
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;
  
  display: flex;
  align-items: center;
}
