@use '../utils' as *;

.btn--black {
  background-color: rgb(255, 123, 0);
  color: $color-white;

  padding: toRem(15) toRem(40);
  border-radius: toRem(10);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: toRem(14);

  transition: all 0.3s ease;

  &:hover {
    background-color: $color-black; 
    color: $color-white;          
  }

  &:active {
    background-color: #333; 
    color: $color-white;
    border-color: #333;
    
    transform: translateY(2px); 
  }
}