@use '../utils' as *;

// catalog-section
.catalog {
  padding: toRem(100) 0; 

  .section-title {
    font-size: toRem(40);
    font-weight: bold;
    color: $color-black;
  }

  &__grid {
    display: grid;
    $card-span: 4;
    $card-width: ($card-span * $col-width) + (($card-span - 1) * $gutter);
    gap: toRem($gutter);
    grid-template-columns: repeat(auto-fit, minmax(toRem($card-width), 1fr)); 

    @media (max-width: $bp-tablet) {
      gap: toRem($tablet-gutter);

      grid-template-columns: 1fr; 
    }

    @media (max-width: $bp-mobile) {
      gap: toRem($mobile-gutter);
      grid-template-columns: 1fr; 
    }
  }
}

// product-card
.product-card {
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    background-color: #FBF5F6;
    aspect-ratio: 1 / 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: toRem(24);
    
    img {
      max-width: 80%; 
      max-height: 80%;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
  }

  &__title {
    font-size: toRem(18);
    font-weight: bold;
    text-transform: uppercase;
    color: $color-black;
  }

  &__desc {
    font-size: toRem(16);
    line-height: 1.5;
    color: #555;
  }

  &__price {
    font-size: toRem(16);
    font-weight: bold;
    color: $color-black;
    margin-top: toRem(10);
  }
}