@use '../utils' as *;

.header {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0; 
  z-index: 10; 

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: bold;
    font-size: 14px; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px; 
  }

  &__phone {
    @include flex-center; 
    @include text-style(14, bold); 
    gap: 10px;
  }

  &__icon {
    width: 24px; 
    height: 24px;
    display: block;
  }

  &__menu-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;   
    background-color: $color-white; 
    z-index: 90;    
    
    // Стан 0
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease;    
    
    padding-top: toRem(30);

    &__overlay-top {
    margin-bottom: toRem(60);
  }
  }

  &__menu-btn {
    cursor: pointer;
    z-index: 100; 
    position: relative; 
    width: 24px;  
    height: 24px;

    .icon-burger { display: block; }
    .icon-close  { display: none; }

    transition: transform 0.3s ease;
    &:hover { opacity: 0.7; }
  }

@media (max-width: $bp-tablet) {
    padding: toRem(20) 0;
  }
}

#menu-toggle:checked {
  ~ .header__container .header__menu-overlay {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
  }
  
  ~ .header__container .header__menu-btn {
    .icon-burger { display: none;  }  
    .icon-close  { display: block; }
    transform: rotate(90deg);
  }
}

.nav {
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: toRem(30);
    text-align: center;
  }

  &__link {
    font-size: toRem(20);
    font-weight: bold;
    color: $color-black;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      color: orange;
    }
    
    &--active {
      text-decoration: underline;
    }
  }
}

// Tablet (768px)
@media (max-width: $bp-tablet) {
  .nav__link {
    font-size: toRem(40); 
  }
  
  .nav__list {
    gap: toRem(16);
  }
}

// Mobile (320px)
@media (max-width: $bp-mobile) {
  .nav__link {
    font-size: toRem(32); 
  }
  
  .nav__list {
    gap: toRem(12);
  }
  
  .header__menu-overlay {
    align-items: flex-start; 
    padding-top: toRem(100); 
  }
}